.player2-buttons{
    margin-left: 700px;
    margin-top: -22px;

}

.btn{
    border: none;
    outline: none;
    cursor: pointer;

   
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato',sans-serif;
    color: #fff;
    text-align: center;
    background-color: #24cfaa;
    box-shadow:  3px 3px 8px #b1b1b1,
                           -3px -3px 8px #ffffff;
}